/*body{width: 750px;min-height: 100%;} */
@font-face {
  font-family: 'iconfont';  /* project id 81788 */
  src: url('../fonts/iconfont.eot?t=1502951702735'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1502951702735#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1502951702735') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1502951702735') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1502951702735#iconfont') format('svg'); /* iOS 4.1- */
}


.iconfont{
	font-family:'iconfont' !important;
	font-size:16px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-stroke-width: 0.2px;
}
